body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

h1 {
    color: #e56132;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #3F373C;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e56132;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.resultado-container {
    margin-top: 30px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
}
